<h1>Here are the latest NBA Games</h1>

<div class="games-container">

</div>

<script>

  // - send a get req --> 'https://www.balldontlie.io/api/v1/games'
  // 3. if the request is successful --> display a new card for each games data that i received


  // 1. target ==> .games-container
  
  
  // 2. create a fn that creates the card --> hint: document.createElement

  // 3. X

</script>