<h1>Welcome to NBA Site!</h1>

<div class="grid-container">
  <% @teams.each do |team| %>
  <div class="card">
    <img src="https://source.unsplash.com/1600x900/?nba,<%= team.name %> logo" class="card-img-top" alt="<%= team.name %> logo">
    <div class="card-body">
      <h5 class="card-title"><%= team.name %></h5>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <% end %>
</div>

